@model IEnumerable<Firma.Data.Data.Rezerwacje.Rezerwacja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJachtu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKlienta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJachtu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKlienta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRezerwacji">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRezerwacji">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRezerwacji">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
