@model IEnumerable<Firma.Data.Data.Flota.Jacht>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokBudowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenaZaDzien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKategorii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPortu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokBudowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaZaDzien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKategorii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPortu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJachtu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJachtu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJachtu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
